$orange-color: #F1B24A;
$light-green: #9DC88D;
$dark-green: #4D774E;
$very-dark-green: #164A41;
$white: #FFFFFF;


.shopping-cart-page-container{
    .quantity-display{
      padding: 0 !important;
      font-size: 1.2rem !important;
      }
      .table {
        background-color: white;
      }
      .remove-product-button {
        background-color: transparent !important;
        border: 0;
      }
      .trash-bin {
        color:black;
        font-size: 20px;
      }
      // hide Remove header 
      th[role="columnheader"]:last-child {
        visibility: hidden;
      }
  }

  .shopping-cart-link {
    margin-left: 20px;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    white-space: nowrap;
    color: #FFFFFF;
  
    &:hover {
      color: #ffeac5;
      
    }
  }

  .shopping-cart-badge{
    background-color: $orange-color !important;
    color:$dark-green;
    font-size: 13px;
    position: relative;
    bottom: 10px;
    right: 10px;
  }
  
  .empty-cart-container{
    background-color: $white;
    padding: 100px 200px;
    width: fit-content;
    text-align: center;
    margin: auto;
    margin-top: 100px;
      .empty-cart-h1{
        margin-bottom: 20px;
        font-weight: 800;
      }
     .continue-shop{
      color: #515151;
     }
  }
  .order-shopping-cart-container{
    width: 400px;
    padding: 30px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    float:right;

    .order-shopping-cart-total{
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
        p{
            font-size: 20px;
            font-weight: 800;
        }
    }
    .order-shopping-cart-shipping {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      p{
        font-size: 18px;
    }
    }
    .order-shopping-cart-order{
        display: flex;
        margin-bottom: 30px;

        h5{
            margin-left: 8px;
        }
        .order-icon{
         position: relative;
         top: 3px;
         font-size: 18px;
        }
    }

    button{
          outline: 0;
          border: 0;
          background: #efae45;
          padding: 8px 5px;
          color: #515151;
          text-transform: uppercase;
          width: 100%;
          font-family: inherit;
          transition: all 0.3s ease;
          font-weight: 500;
          border-radius: 3px;
          font-size: 20px;
          cursor: pointer;
          box-shadow: inset 0 0 0 1px rgb(50 50 93 / 10%), 0 2px 5px 0 rgb(50 50 93 / 10%), 0 1px 1px 0 rgb(0 0 0 / 7%);
          &:hover {
            background-color:  #f09400;
          }
    }

  }

  .success-page-container{
    background-color: $white;
    width: fit-content;
    padding: 100px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    .success-icon {
     font-size: 50px;
     margin-bottom: 20px;
    }
    h1 {
      margin-bottom: 30px;
    }
    p{
      font-size: 20px;
      margin-bottom: 30px;
    }
    a{
      color: #212529;
      margin-left: 5px;
    }
    .continue-shop{
      color: #515151;
      font-size: 20px;
     }
  }


  .cancel-page-container{
    background-color: $white;
    width: fit-content;
    padding: 100px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    h4{
      margin-bottom: 20px;
    }
    .continue-shop{
      color: #515151;
     }
  }

  .guest-address-form{
    width: max-content;
    margin: auto;
    padding: 50px;

    .error-message {
      color:rgb(206, 0, 73);
    }

    .card-title {
      margin-bottom: 1px !important;
    }
    .only-sweden{
      font-size: 12px;
    }
    .go-to-payment-button{
      margin-top: 20px;
      outline: 0;
      border: 0;
      background: #efae45;
      padding: 8px 5px;
      color: #515151;
      text-transform: uppercase;
      width: 100%;
      font-family: inherit;
      transition: all 0.3s ease;
      font-weight: 500;
      border-radius: 3px;
      font-size: 20px;
      box-shadow: inset 0 0 0 1px rgb(50 50 93 / 10%), 0 2px 5px 0 rgb(50 50 93 / 10%), 0 1px 1px 0 rgb(0 0 0 / 7%);

      cursor: pointer;
      &:hover {
        background-color:  #f09400;
      }
    }
    form{
      margin-top: 20px;
      input {
        width: 400px;
      }
      .PhoneInputInput{
        width: 100%;
      }
    }
  }